################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/AliDDNS/bin
/AliDDNS/obj
/.vs/AliDDNS/v14
/.vs/AliDDNS/v15