<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AlibabaCloud.EndpointUtil" version="0.1.2" targetFramework="net48" />
  <package id="AlibabaCloud.GatewaySpi" version="0.0.3" targetFramework="net48" />
  <package id="AlibabaCloud.OpenApiClient" version="0.2.1" targetFramework="net48" />
  <package id="AlibabaCloud.OpenApiUtil" version="1.1.4" targetFramework="net48" />
  <package id="AlibabaCloud.SDK.Alidns20150109" version="4.4.1" targetFramework="net48" />
  <package id="AlibabaCloud.TeaUtil" version="0.1.20" targetFramework="net48" />
  <package id="AlibabaCloud.TeaXML" version="0.0.5" targetFramework="net48" />
  <package id="Aliyun.Credentials" version="1.5.2" targetFramework="net48" />
  <package id="Darabonba" version="1.0.1" targetFramework="net48" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net48" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net48" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="Tea" version="1.1.4" targetFramework="net48" />
</packages>